.App {
  background-color: #1a3a3a;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  grid-template-rows: 90px 1fr;
  overflow: auto;
}
